<%- include('partials/header') -%>

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Gallery Single</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a
              odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum
              dolorem.</p>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container ">

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-4">
            <img src="<%= post.image%>">
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Event information</h3>

              <ul>
                <li><strong>Title</strong> <span>
                    <%= post.eventtitle%>
                  </span></li>
                <li><strong>Location</strong> <span>
                    <%= post.location%>
                  </span></li>
                <li><strong>Date</strong> <span>
                    <%= post.date%>
                  </span></li>
                <li><strong>Description</strong> <span>
                    <%= post.description%>
                  </span></li>
                <li><strong>Number of Attendees</strong> <span>
                    <%= post.capacity%>
                  </span></li>
                <li>
                  <a href="/post/edit/<%= post._id%>" class="btn-visit align-self-start">Edit</a>
                </li>
                <button class="btn-visit align-self-start" onclick="deleteEvent('<%= post._id%>')">Delete</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Gallery Single Section -->
    <section>
      <div>
        <ul>
          <% for (let i=0; i<requestors.length; i++) {%>
            <li>
              <button class="btn-visit align-self-start"
                onclick="deny('<%= post._id%>','<%= requestors[i][1]%>')">Deny</button>
              <span>
                <%= requestors[i][0]%>
              </span>
              <button class="btn-visit align-self-start"
                onclick="accept('<%= post._id%>','<%= requestors[i][1]%>')">Accept</button>

            </li>
            <% } %>
        </ul>

      </div>
    </section>
  </main><!-- End #main -->

  <%- include('partials/footer') -%>